.atm-splash-container {
   background-color: rgba(25, 25, 25, 0.80);
}
.atm-splash {
  background-color: #F2F2F2;
  margin: 20px 5%;
  min-height: 95%;
  width: 90%;
}

.atm-header {
  padding-top: 2em;
  padding-left: 8.5%;
  padding-right: 8.5%;

  h1 {
    margin: 0;
    padding: 0;
    width: inherit;
  }
  .logo {
    max-width: 53px;
    max-height: 53px;
    padding: 0;
    margin-right: 10px;
  }
  .title {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -moz-flex: 4;
    -ms-flex: 4;
    flex: 4;
    padding: 0;
    color: #203D58;
    font-family: 'Avenir Roman', arial, helvetica, sans-serif !important;
    font-size: 22px;
  }
}

.atm-subtitle {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 8.5%;
  margin-right: 8.5%;
  
  span {
    display: block;
    color: #203D58;
    font-family: 'Avenir Roman', arial, helvetica, sans-serif !important;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }
}

.atm-content {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  width: inherit;

  .col {
    padding: 0;
  }
}

.atm-cross {
  position: absolute;
  top: 0;
  right: 5%;
  padding: 1em;
}

.atm-features {
  margin-left: 24px;
  list-style: disc;

  li {
    color: #203D58;
    font-family: 'Avenir Roman', arial, helvetica, sans-serif !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 1.5em;
  }
  li:last-child {
    margin-bottom: 0;
  }
}
.atm-footer {
  padding: 12.5px;
  
  .button {
    display: block;
    color: #4FA5CC;
    font-family: 'Avenir LT W01 95 Black', arial, helvetica, sans-serif !important;;
    font-size: 12px;
    border-radius: 0;
    width: 100%;
  }
  .btn-download {
    background-color: #4FA5CC;
    color: white;
    margin-bottom: 10px;
  }
  .btn-close {
    background-color: transparent;
    border-color: #4FA5CC;
    border-width: 2px;
  }
}
@media (max-width: 370px) {
  .atm-header {
    padding-left: 6.5%;
    padding-right: 6.5%;
  
    .logo {
      margin-right: 5px;
    }
    .title {
      font-size: 21px;
    }
  }
  .atm-subtitle {
    margin-left: 6.5%;
    margin-right: 6.5%;
  }
}
@media (max-width: 320px) {
  .atm-header {
    padding-top: 1.5em;
    padding-left: 5%;
    padding-right: 5%;

    .title {
      font-size: 20px;
    }
  }
  .atm-subtitle {
    margin-left: 5%;
    margin-right: 5%;

    span {
      font-size: 13px;
      line-height: 16px;
    }
  }
  .atm-device {
    width: 130px;
  }
  .atm-features {
    margin-left: 18px;

    li {
      font-size: 13px;
      line-height: 19px;
    }
  }
  .atm-footer {
    padding: 0.5em 0.8em;
  }
}