$ATWhite: #fff;
$ATBlack: #000;
$lima: #93BD1B;
$rollingstone: #70767C;
$lochmara: #007BCC;
$azureradiance: #019BFF;
$catskillwhite: #EFF2F7;
$shuttlegray: #60656A;
$pickledbluewood: #283D51;
$graychateau: #A9ADB0;
$silver: #B8B8B8;
$redorange: #FF4633;
$red: #E9363b;
/* ionic colors */
$assertive: #EF4E3a;
$energized: #f0b840;
$balanced: #66CC33;