@font-face {
    font-family: 'ATicons';
    src: url('#{$app-font-path}/ATicons.eot?-t4absn');
    src: url('#{$app-font-path}/ATicons.eot?#iefix-t4absn') format('embedded-opentype'),
        url('#{$app-font-path}/ATicons.woff?-t4absn') format('woff'),
        url('#{$app-font-path}/ATicons.ttf?-t4absn') format('truetype'),
        url('#{$app-font-path}/ATicons.svg?-t4absn#ATicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*=" ATicon-"]:before,
[class^="ATicon-"]:before {
    font-family: 'ATicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ATicon-bus:before {
    content: "\e600";
}

.ATicon-train:before {
    content: "\e60d";
}

.ATicon-ferry:before {
    content: "\e60e";
}

.ATicon-clock:before {
    content: "\e601";
}

.ATicon-info:before {
    content: "\e602";
}

.ATicon-minus:before {
    content: "\e603";
}

.ATicon-needle:before {
    content: "\e604";
}

.ATicon-page-left:before {
    content: "\e605";
}

.ATicon-page-right:before {
    content: "\e606";
}

.ATicon-plus:before {
    content: "\e607";
}

.ATicon-right-arrow:before {
    content: "\e608";
}

.ATicon-ring:before {
    content: "\e609";
}

.ATicon-search:before {
    content: "\e60a";
}

.ATicon-tick:before {
    content: "\e60b";
}

.ATicon-user:before {
    content: "\e60c";
}