/* addlabel */
.add-label-body {
    background-color: $catskillwhite;
}

.add-label-instructions {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 14px;
    color: $shuttlegray;
}

.add-label-input {
    padding-left: 15px;
}